{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Hello World!</title>
</head>
<body>

    <div class="navbar">
        <a href="{% url 'save_text_input' %}" class="navbar-left">News Aggregator</a>
        <div class="navbar-middle">
            <a href="{% url 'save_text_input' %}">Home</a>
            <a href="{% url 'show_news' %}">News</a>
        </div>
    </div>    

<div class="welcome-container">
    <header class="header">
        <h1>Welcome to Our News Website</h1>
        <p>Stay informed with the latest news from around the world.</p>
    </header>
    
    <div class="image-container">
        <img src="{% static 'Breaking News.jpg' %}" alt="Breaking News">
        <img src="{% static 'Headlines.png' %}" alt="Headline">
    </div>

    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="https://th.bing.com/th/id/OIP.lXuMr3dxbAPT0ucLQIMafQHaF0?rs=1&pid=ImgDetMain" alt="Monke 1">
            <div class="slide-description">Description for Monke 1</div>
        </div>
        <div class="carousel-slide">
            <img src="https://th.bing.com/th/id/OIP.FD_gv5K_25MYiLmijRXwcgHaE7?rs=1&pid=ImgDetMain" alt="Monke 2">
            <div class="slide-description">Description for Monke 2</div>
        </div>
        <div class="carousel-slide">
            <img src="https://th.bing.com/th/id/OIP.zNrd4O67q6LatRP_0vxYGAHaEc?rs=1&pid=ImgDetMain" alt="Monke 3">
            <div class="slide-description">Description for Monke 3</div>
        </div>
        <!-- Add more slides as needed -->
        
        <button class="prev-btn" onclick="moveSlide(-1)">❮</button>
        <button class="next-btn" onclick="moveSlide(1)">❯</button>
    </div>
    
    <h1>Upload Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <div class="about-section">
        <h2>About Us</h2>
        <p>Our news website strives to deliver accurate and timely information on a wide range of topics, including politics, technology, entertainment, and more. We are committed to keeping you informed and engaged with the latest developments from around the globe.</p>
    </div>
</div>

<script src="{% static 'site.js' %}"></script>

</body>
</html>
