<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'save_text_input' %}" class="navbar-left">News Aggregator</a>
        <div class="navbar-middle">
            <a href="{% url 'save_text_input' %}">Home</a>
            <a href="{% url 'show_news' %}">News</a>
        </div>
    </div> 
    <p>Hi</p>
</body>
</html>