/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Navigation bar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    font-size: 24px;
    color: #fff; /* Keep the text color the same */
    text-decoration: none; /* Remove underline */
}

.navbar-middle {
    text-align: center;
}

.navbar-middle a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-middle a:hover {
    color: #ddd;
    text-decoration: none; /* Optional: Add underline effect on hover */
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #333;
}

.header p {
    font-size: 18px;
    color: #666;
}

/* Image container styles */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-container img {
    width: calc(33.33% - 10px); /* Three images in a row with some spacing */
    border-radius: 5px;
}

/* About section styles */
.about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    color: #666;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        text-align: center;
    }

    .navbar-left {
        margin-bottom: 10px;
        margin-left: -10px;
    }

    .navbar-middle {
        margin-bottom: 10px;
    }

    .navbar-middle a {
        display: row;
        margin: 5px;
    }
}
